@font-face {
	font-family: 'YeolrinMyeongjo-Light';
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/YeolrinMyeongjo-Light.woff") format("woff");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'YeolrinMyeongjo-Bold';
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/YeolrinMyeongjo-Bold.woff") format("woff");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'YeolrinMyeongjo-Medium';
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/YeolrinMyeongjo-Medium.woff") format("woff");
	font-weight: normal;
	font-style: normal
}

html, body {
	font-family: 'YeolrinMyeongjo-Light';
}